@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.main-lamp {
    height: 600px;
    .lamp-container {
        position: absolute;
        top: -50px;
        left: 22%;
        width: 200px;
    }
}

.lamp {
    width: 100%;
}

.light {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 700px;
    margin-left: -8px;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.main-text_container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 60%;
    h1 {
        font-size: 80px;
        font-weight: 400px;
        font-family: 'Poppins', sans-serif;
    }
    a {
        background: #00986f;
        padding: 14px 40px;
        display: inline-block;
        font-size: 18px;
        margin-top: 30px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        z-index: 200;
    }
}