.button-light {
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    span {
        display: block;
        background: #999;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        transition: background 0.5s, margin-left 0.5s;
        -webkit-transition: background 0.5s, margin-left 0.5s;
        -moz-transition: background 0.5s, margin-left 0.5s;
        -ms-transition: background 0.5s, margin-left 0.5s;
        -o-transition: background 0.5s, margin-left 0.5s;
    }
}

.active {
    background: green;
    span {
        margin-left: 31px;
        background: white;
    }
}
